*{
    box-sizing: border-box;
}

.header{
    background-color:  #E5E5E5;
    padding-top: 17px;
    padding-bottom: 16px;
}

.nav{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.link{
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.item{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    text-decoration: none;
}

.container{
    padding-bottom: 20px;
    border-bottom: 1px solid #EFEFEF;
}

.box{
    margin-left: auto;
    margin-right: auto;
    width:1100px;
}

.container::after{
    clear: both;
    content: '';
}

.content{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #F13C6E;
}

.numbers{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:#000000;
    text-decoration: none;
    margin-right: 40px;
}

.callback{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color:#000000;
}

.button{
    border-radius: 40px;
    border: 2px solid #F13C6E;
    width: 170px;
    padding-top: 11px;
    padding-bottom: 12px;
    background-color: white;
    height: 40px;
}

.logo{
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}

.callme{
    float: right;
    padding-top: 40px;
}

.icon{
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

.pic{
    display: inline-block;
    vertical-align: top;
    line-height: 42px;
    padding-top: 21px;
}

.header.second{
    background-color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

.link.two{
    margin-right: 40px;
}

.item.real{
    font-size: 16px;
    line-height: 19px;
    color:#000000;
}

.box.pink{
    background-image: url(../images/chair.jpg);
    width: 1920px;
    height: 604px;
}